<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
    <title>Dormitory System</title>
	 <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./card.css"/>
</head>
<body>
    <div class="main">
        <div class="cards">
            <div class="image">
                <img src="./20170921_020.jpg">
            </div>
            <div class="title">
                <h1>Title name</h1>
            </div>
            <div class="des">
                <p>Write Your title Description Here...</p>
                <button>Read More...</button>
            </div>
        </div>


        <!--cards-->
        <div class="cards">
            <div class="image">
                <img src="./20170921_020.jpg">
            </div>
            <div class="title">
                <h1>Title name</h1>
            </div>
            <div class="des">
                <p>Write Your title Description Here...</p>
                <button>Read More...</button>
            </div>
        </div>

        <div class="cards">
            <div class="image">
                <img src="./20170921_020.jpg">
            </div>
            <div class="title">
                <h1>Title name</h1>
            </div>
            <div class="des">
                <p>Write Your title Description Here...</p>
                <button>Read More...</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="card.js"></script>
</body>
</html>
