<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<Title>Dormitory System</Title>
		<base href="/">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./home.css"/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		
		<div class="head">
			<h3>Head</h3>
			<h5 onclick="location.href='logout'">로그아웃</h5>
		</div>

		<div class="total">
		<div class="content">
			<div class="right-part">
				<div class="a">
				<table class="table table-striped suggestions">
					<thead>
						<tr>
							<th style="width: 80%; text-align: left; font-size: 15px">건의사항</th>
							<th onclick="location.href='suggestions'" style="width: 20%; text-align: right">+Detail</th>
						</tr>
					</thead>
					<tbody id="sugBody">

					</tbody>
				</table>
				</div>

				<div class="b">
				<table class="table table-striped notice">
					<div >
					<thead>
						<tr>
							<th style="width: 80%; text-align: left">공지사항</th>
							<th onclick="location.href='notice'" style="width: 20%; text-align: right">+Detail</th>
						</tr>
					</thead>
					<tbody id="notBody">
						
					</tbody>
				</table>
				</div>
			</div>

			<div class=" card left-part">
				<div class="write card">
					<div class="card-body">
						<h5>구분</h5><br>
						<div class="check">
							건의사항<input type="radio" id="suggest" name="분실물" class="form-control" value="건의사항">
						</div>
						<div class="check">
							공지사항<input type="radio" id="notice" name="공지사항" class="form-control" value="공지사항">
						</div>
						<br>
						<h5>제목</h5>
						<input type="text" id="title" class="form-control" name="제목">
						<h5>내용</h5>
						<textarea id="context" class="form-control" name="내용" cols="40" rows="3" style="height: 150px"></textarea>
						
						<button class="btn btn-primary" onclick="submitText()">Submit</button>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="bottom">
			<h3>Bottom</h3>
		</div>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
