<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <Title>Dormitory System</Title>
        <link rel="stylesheet" type="text/css", href="./log_in.css">
    </head>
    <body>
        <!-- form 태그 : 클라이언트에서 서버로 데이터 전송을 위해 사용
        action : form을 전송할 서버 쪽 스크립트 파일을 지정
        method : form을 서버에 전송할 http 메소드를 정함-->
        <form class="box" id="form" action="/api/home" method="POST">
            <h1>Login</h1>
            <!-- placeholder: Input창에 default로 띄울 문구, value: 비슷한 느낌?-->
            <input type="text" name="id" id="id" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>
        <script type="text/javascript" src="api.js"></script>
    </body>
</html>
