<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
    <title>Dormitory System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./suggestions.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="head">
        <h3>SPARCS</h3>
        <h5 onclick="location.href='logout'">로그아웃</h5>
    </div>
    <div class="total">
        <h1>공지사항</h1>
        <div id="main" class="main">
            
        </div>
    </div>
    <div class="bottom">
    </div>
    <script type="text/javascript" src="notice.js"></script>
</body>
</html>