<!DOCTYPE html>
<html lang="en" dir="ltr" >
    <head>
        <title>Dormitory System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./suggestions.css"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="head">
            <h3>SPARCS</h3>
            <h5 onclick="location.href='logout'">로그아웃</h5>
        </div>
        <div class="total">
            <div class="top">
            <h3 class="title_a">건의사항</h3>
            <select id="selectDor" onchange="listText()" class="form-control" name="dormitory" style="width: 150px; margin-left: 88%">
                <option value="">기숙사 선택</option>
                <option value="진리관">진리관</option>
                <option value="아름관">아름관</option>
                <option value="세종관">세종관</option>
            </select>
            </div>
            <div id="main" class="main">
                
            </div>
        </div>
        <div class="bottom">
        </div>
        <script type="text/javascript" src="suggestions.js"></script>
    </body>
</html>